<%- include layouts/header.ejs %>

<div class="row"></div>
<div class=" card z-index-2" style="background-color: rgb(203,195,156); border-radius: 10px">
    <div class="row"></div>
    <div class="row center">
            <h4 style="padding: 0 30px">BBooks</h4>
    </div>
    <div class="row valign-center">
        <div class="col s1 m1 l1">

        </div>
        <div class="col s10 m10 l10 center">
            <p>
                <strong>Desenvolvido em:</strong>
                <ul>
                    <li>NodeJS</li>
                    <li>Materialize</li>
                </ul>
            </p>
            <p>
                <strong>Desenvolvido por:</strong>
            <ul>
                <li>Daniel Sadamo</li>
                <li>Daniel Sadao</li>
                <li>Rarysh Souza</li>
                <li>Vagner Junior</li>
            </ul>
        </div>
    </div>
    <div class="row"></div>
</div>

<%- include layouts/footer.ejs %>
