<%- include layouts/header.ejs %>

<div class="card z-index-2" style="background-color: rgb(203,195,156); border-radius: 10px">
    <div class="row"></div>
    <div class="row">
        <div class="col s10 offset-s1 center">
            <p>
                Your Account <br>
                Buying online is quick and easy!<br>

                You have <span class="brown-text" id="quantidade">X</span> items in your cart.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1 center">
            <form method="post" action="/checkout2">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">E-mail</label>
                </div>
                <button class="waves-effect waves-light btn brown" type="submit"  >Proceed to checkout</button>
            </form>
        </div>
    </div>
    <div class="row"></div>
</div>


<script>
    $(document).ready(function() {
            loadItens();
    });


</script>

<%- include layouts/footer.ejs %>


