<%- include layouts/header.ejs %>
Shipping Information
New Customer - Please provide your shipping address.

<form>
    <input>
    <input>
    <input>
    <input>
    <input>
    <input>
    <input>
</form>
<button class="waves-effect waves-light btn" onclick="window.location.href='checkout3'">Place your order</button>

<%- include layouts/footer.ejs %>


