<%- include layouts/header.ejs %>
Your Account <br>
Buying online is quick and easy!<br>

You have <span id="quantidade">X</span> items in your cart.

<input placeholder="Email">
<button class="waves-effect waves-light btn" onclick="window.location.href='/checkout2'">Proceed to checkout</button>


<script>
    $(document).ready(function() { loadItens();
    });</script>

<%- include layouts/footer.ejs %>


