<%- include layouts/header.ejs %>

<table>
    <tr>
        <th>Title</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    <tr>
        <td><%=data[0].title%></td>
        <td>QT</td>
        <td><%=data[0].price%></td>
        <td>T</td>
    </tr>
</table>
                 <button>Add Cart</button>

<%- include layouts/footer.ejs %>
