</div>
</div>
</div>
<footer class="page-footer" style="background-color: rgba(0,0,0,0.87);">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h6 class="white-text">BBooks</h5>
                    <p class="grey-text text-darken-1">Loja online de livros</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h6 class="white-text"> </h5><br>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/">Voltar a página inicial</a></li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018, Itajubá
        </div>
    </div>
</footer>
</body>
</html>
