<div class="navbar-fixed border-">
    <nav class="z-depth-2" style="background-image: url('https://us.123rf.com/450wm/hurvajs11/hurvajs111606/hurvajs11160600031/58649161-madera-incons%C3%BAtil-de-la-textura-de-color-marr%C3%B3n-textura-de-madera-de-los-muebles-textura-de-madera-oscura-d.jpg?ver=6')">
        <div class="nav-wrapper">
            <a style="text-decoration:none!important" href="/" class="brand-logo center">BBooks</a>
            <ul class="right hide-on-med-and-down">
                <li><a style="text-decoration:none!important" href="/shopping_cart/"><i class="material-icons">shopping_cart</i></a></li>
                <li><a style="text-decoration:none!important" href="/checkout1"><i class="material-icons">account_circle</i></a></li>
            </ul>
        </div>
    </nav>
</div>