<div class="navbar-fixed border-">
    <nav class="z-depth-2" style="background-image: url('/../images/navbar-image.jpg')">
        <div class="nav-wrapper">
            <a style="text-decoration:none!important" href="/" class="brand-logo center">BBooks</a>
            <ul class="right hide-on-med-and-down">
                <li><a style="text-decoration:none!important" href="/shopping_cart/"><i class="material-icons">shopping_cart</i></a></li>
                <li><a style="text-decoration:none!important" href="/checkout1"><i class="material-icons">account_circle</i></a></li>
            </ul>
        </div>
    </nav>
</div>