<div class="navbar-fixed border-">
    <nav class="z-depth-1" style="background-color: #118972">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">BBooks</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/shopping_cart/"><i class="material-icons">shopping_cart</i></a></li>
            </ul>
        </div>
    </nav>
</div>