<div class="navbar-nav z-index-2 card" style="background-color: rgb(203,195,156); border-radius: 10px">
    <div class="search">
        <div class="row"></div>
        <h5 class="center">Search</h5>
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input id="search" type="text" required>
            <label for="search">Search</label>
            <div class="center">
                <button class="waves-effect waves-light btn brown">Search</button>
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="categories">
        <h5 class="center">Search Browser</h5>
        <ul class="collection with-header" >
            <li class="collection-header" style="background-color: rgb(203,195,156)!important;"><strong>Categorias</strong></li>
            <% for (i=0; i< categoria.length; i++){%>
            <li class="collection-item " style="background-color: rgb(203,195,156)!important;">
                <a href="/SearchBrowser/categoria/:<%=categoria[i].CategoryID%>" class="black-text text-darken-5">
                    <%=categoria[i].CategoryName%>
                </a>
            </li>
            <%}%>
        </ul>
    </div>
</div>